@use '../mixin.scss' as *;

.advantages {
    padding: 60px 0;

    &__title {
        font-weight: 700;
        font-size: clamp(24px, 5vw, 42px);
        line-height: 1.1;
        margin-bottom: 40px;

        @include respond('md') {
            font-size: 24px;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;

        @include respond('md') {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        background: #121F2380;
        border: 2px solid #121F2380;
        box-shadow: 7px 4px 27.1px 0px #0000000A;
        padding: 40px 50px;
        border-width: 2px;
        border-radius: 20px;

        &__top {
            display: flex;
            align-items: center;
            gap: 30px;
            margin-bottom: 15px;

            img {
                width: 75px;
                height: 75px;
            }
            h3 {
                font-weight: 600;
                font-size: 1.5rem;
                line-height: 117%;
            }
        }

        &__bottom {
            min-width: 400px;

            p {
                font-weight: 400;
                font-size: 1rem;
                line-height: 137%;
            }
        }
    }
}